/* Set up the flex container */
.flex-container {
    display: flex;
    justify-content: center;
    
  }
  
  .flex-container > div {
    width: 900px;
    margin-left: 15px;
    padding: 5px;
    overflow: scroll;
    margin: 3px;
  }

body {
    height:100%;
    background-color: rgb(160, 188, 240);
}

.masthead {
    font-family: 'Bungee Outline';
    font-size: 8vw;  /* makes font-size responsive... */
    color: rgb(194, 220, 245);
    background-color:rgb(44, 82, 137);
    padding-top: 10px;
    padding-left: 10px;
}

.section-style p {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin: 5px;
    position: relative;
    top: 10px;
}

.section-style-intro p {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    margin: 5px auto;
    width: 900px;
    overflow: scroll;

}

.blog-entry {
    font-family: 'Nunito';
    background: rgb(207, 206, 206);
    border-radius: 3px;
    color:rgb(34, 38, 41);
    font-size: 16px;
    text-align: left;
    
}

.weather-style p {
  font-family: 'Audiowide', cursive;
  font-size: 10px;
  margin: 5px;
  position: relative;
  top: 10px;
}
 /* The weather box */
.weather {
    font-family: 'Audiowide', cursive;
    font-size: 14px;
    width: 270px;
    height: 240px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  #weather {
    display: flex;
    justify-content: space-around;
    min-height: 150px;
  }

.page-footer {
    font-size: 10px;
    font-family: 'Audiowide', cursive;
    padding: 20px;
}