html {
    height:100%;
    box-sizing: border-box;
}

body {
    height:100%;
    background-color: rgb(160, 188, 240);
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: inherit;
}

/* Background class 
.bg { 

    background-image: url("./images/blogBackground.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

section {
    height: 100%
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page-header {
    font-family: 'Bungee Outline';
    font-size: 8vw;  /* makes font-size responsive... */
    color: white;
    background-color:rgb(44, 82, 137);
    padding: 10px;
}

.section-style p {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin: 20px;
    position: relative;
    top: 10px;
}

.section-style-intro p {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    margin: 20px auto;
    width: 900px;
    
}

.blog-entry {
    font-family: 'Nunito';
    color:rgb(34, 38, 41);
    font-size: 20px;
    margin-left: 15px;
    background: rgb(207, 206, 206);
    width: 900px;
    min-width: 300;
    border-radius: 5px;
    padding: 5px;
    margin: 3px auto;
    overflow: scroll;
}

.page-body {
    padding: 20px;
}

.preview {
    height: 400px;
    overflow: auto;
}

.page-footer {
    font-size: 10px;
    font-family: 'Audiowide', cursive;
    padding: 20px;
}