

/* Media query to set the font size to 12px for screens between 320px - 480px... */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 24px;
  }
}

/* Set up the flex container */
.flex-container {
    display: flex;
    justify-content: center;
    
  }
  
  .flex-container div {
    width: 1000px;
    padding: 15px; /** This sets the margins on the blog posts **/
    overflow: scroll;
    margin: 5px; 
  }

  img {
    border: 3px solid rgb(5, 60, 82);
    border-radius: 4px;
    padding: 3px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.top-nav {
  font-family: 'Nunito';
  font-size: 16px;
  color:rgb(11, 62, 100);
}

/** Navigation link formating **/
.nav-td {
  margin: 15px;
  padding: 20px;
}


body {
    height:100%;
    /* background-color: rgb(160, 188, 240); */
    background-color: rgb(212, 231, 241);

    /* Set a default font size for the page, then use em to set relative sizes to this */
    font-size: 18px;
}

hr {
  height:2px;
  width: 50%;
  border-width:0;
  color:gray;
  background-color:rgb(106, 178, 226)
}

a {
  text-decoration: none;
  color: rgb(12, 101, 136);
}

table {
  border-collapse: collapse;
 }

 .mast-table {
  border-collapse: collapse;
  border: none;
  background-color:rgb(44, 82, 137);
  text-align: left;
  vertical-align: middle;
  width: 100%;
 }

.body-cms {
  height:100%;
  background-color: rgb(124, 151, 201);
}

.masthead {
    font-family: 'Spicy Rice';
    font-size: 8vw;  /* makes font-size responsive... */
    color: #3FA7D6;
    background-color:rgb(44, 82, 137);
    padding-top: 1px;
    padding-left: 10px;
}

.section-style p {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin: 5px;
    position: relative;
    top: 1px;
}

.section-style-intro p {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    margin: 5px auto;
    width: 900px;
    overflow: scroll;

}

.cards-intro p {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin: 5px auto;
  width: 950px;
  overflow: scroll;

}

.blog-entry {
    font-family: 'Nunito';
    background: rgb(224, 236, 241);
    border-radius: 3px;
    color:rgb(34, 38, 41);
    font-size: 16px;
    text-align: left;
    padding: 5px;
} 

.blurb p {
  font-family: 'Nunito';
  color:rgb(34, 38, 41);
  font-size: 16px;
  text-align: left;
}

.modal {
  font-family: 'Nunito';
  color:rgb(34, 38, 41);
  font-size: 24px;
  text-align: center;
}

.weather-style p {
  font-family: 'Nunito', cursive;
  font-size: 14px;
  margin: 5px;
  position: relative;
  top: 10px;
}
 /* The weather box */
.weather {
    font-family: 'Arial', cursive;
    font-size: 14px;
    color:rgb(169, 220, 243);
    width: 80%;
    height: 150px; 
    
  }

  #weather {
    display: flex;
    justify-content: left;
    min-height: 50px;
  }

  .form-style {
    font-family: 'Audiowide', cursive;
    font-size: 14px;
    }

  .form-style input {
    margin: 5px;
    position: relative;
    top: 10px;
    width: 40%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(7, 74, 138);
    border-radius: 2px;
    background-color: #e4e4e4;
    }

    .form-style-card input {
      margin: 5px;
      position: relative;
      top: 10px;
      width: 10px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid rgb(7, 74, 138);
      border-radius: 2px;
      }

    .form-center {
      display:flex;
      justify-content: center;
      }

    textarea {
      width: 40%;
      height: 150px;
      box-sizing: border-box;
      border: 2px solid rgb(7, 74, 138);
      border-radius: 2px;
      background-color: #e4e4e4;
      resize: none;
      overflow: scroll;
    } 

    .input-button {
      background-color: #256386;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }

/* Table Stuff */
.table-style {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito';
  font-size: 16px;
  text-align: left;
}

.page-footer {
    font-size: 10px;
    font-family: 'Audiowide', cursive;
    padding: 20px;
    display: inline;
}