

/* Media query to set the font size to 12px for screens between 320px - 480px... */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 24px;
  }
}

/* Set up the flex container */
.flex-container {
    display: flex;
    justify-content: center;
    
  }
  
  .flex-container div {
    width: 900px;
    margin-left: 15px;
    padding: 1px;
    overflow: scroll;
    margin: 3px;
  }

body {
    height:100%;
    /* background-color: rgb(160, 188, 240); */
    background-color: rgb(212, 231, 241);

    /* Set a default font size for the page, then use em to set relative sizes to this */
    font-size: 18px;
}

hr {
  height:2px;
  width: 50%;
  border-width:0;
  color:gray;
  background-color:rgb(106, 178, 226)
}

.body-cms {
  height:100%;
  background-color: rgb(124, 151, 201);
}

.masthead {
    font-family: 'Spicy Rice';
    font-size: 8vw;  /* makes font-size responsive... */
    /* color: rgb(194, 220, 245); */
    color: #3FA7D6;
    background-color:rgb(44, 82, 137);
    padding-top: 10px;
    padding-left: 10px;
}

.masthead-cms {
  font-family: 'Spicy Rice';
  font-size: 8vw;  /* makes font-size responsive... */
  color: #3FA7D6;
  background-color:rgb(44, 82, 137);
  padding-top: 10px;
  padding-left: 10px;
}

.section-style p {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin: 5px;
    position: relative;
    top: 1px;
}

.section-style-intro p {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    margin: 5px auto;
    width: 900px;
    overflow: scroll;

}

.blog-entry {
    font-family: 'Nunito';
    background: rgb(224, 236, 241);
    border-radius: 3px;
    color:rgb(34, 38, 41);
    font-size: 16px;
    text-align: left;
    padding: 5px;
} 
/*
.blog-body {
  padding: 5px;
  margin: 5px;
  border:cornflowerblue 10px;
} */

.blurb p {
  font-family: 'Nunito';
  color:rgb(34, 38, 41);
  font-size: 16px;
  text-align: left;
}

.modal {
  font-family: 'Nunito';
  color:rgb(34, 38, 41);
  font-size: 24px;
  text-align: center;
}

.weather-style p {
  font-family: 'Nunito', cursive;
  font-size: 14px;
  margin: 5px;
  position: relative;
  top: 10px;
}
 /* The weather box */
.weather {
    font-family: 'Arial', cursive;
    font-size: 14px;
    color:rgb(53, 52, 52);
    width: 80%;
    height: 150px;
    padding: 3px;
  }

  #weather {
    display: flex;
    justify-content: left;
    min-height: 50px;
  }

  .form-style {
    font-family: 'Audiowide', cursive;
    font-size: 14px;
    }

  .form-style input {
    margin: 5px;
    position: relative;
    top: 10px;
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(7, 74, 138);
    border-radius: 4px;
    background-color: #e4e4e4;
    }

    .form-style-2 input {
      margin: 5px;
      position: relative;
      top: 10px;
      width: 10px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid rgb(7, 74, 138);
      border-radius: 4px;
      }

    textarea {
      width: 80%;
      height: 150px;
      box-sizing: border-box;
      border: 2px solid rgb(7, 74, 138);
      border-radius: 4px;
      background-color: #e4e4e4;
      resize: none;
      overflow: scroll;
    } 

    .input-button {
      background-color: #256386;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }

/* Table Stuff */
.table-style {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito';
  font-size: 16px;
  text-align: left;
}
  

.page-footer {
    font-size: 10px;
    font-family: 'Audiowide', cursive;
    padding: 20px;
    display: inline;
}